{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
<div class="backshow">
    <h1>Newsletter</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.content }}</td>
                <td>{{ news.date ? news.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_news_show', {'id': news.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('app_news_edit', {'id': news.id}) }}">Edition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    </div>
{% endblock %}
