{% extends 'baseback.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
<div class = "backshow">
    <h1>Note de service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ note.place }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ note.content }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_note_index') }}">Index</a>

    <a class="btn btn-warning " href="{{ path('app_note_edit', {'id': note.id}) }}">Modification de la note de service</a>

    {{ include('backoffice/note/_delete_form.html.twig') }}
    </div>
{% endblock %}
