{% extends 'baseback.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<div class = "backshow">
    <h1>Liste des réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>Nombre de personnes</th>
                <th>Date</th>
                <th>Infos complémentaires</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.lastname }}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.mail }}</td>
                <td>{{ reservation.phoneNumber }}</td>
                <td>{{ reservation.groupSize }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.complementaryIntel }}</td>
                <td>{{ reservation.status }}</td>
               <td>
                    <a class="btn btn-primary" href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Mis à jour des réservations</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_reservation_new') }}">Créer une réservation</a>
    </div>
{% endblock %}
